/* setting up variables */
:root{
  --darkTeal: rgb(0, 54, 54)
}

main{
    /* border:5px solid black; */
    color:rgb(97, 10, 97);
    margin-block-end: 0em;
}
html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
    font-size: 16px;
  }
.boxFormat {
    display:flex;
    flex-direction:flex-wrap;
    justify-content: flex-end;
    width:100%;
    margin:20px;
    /* border:2px solid orangered; */
}
p{
  font-size:1.6rem;
}
.span{
    width:100%;
}

.pro{
  color:white;
  font-size:5rem;
  text-shadow: -3px 3px 0 #000, 
                  1px 1px 0 #000, 
                  1px -1px 0 #000, 
                  -1px -1px 0 #000;
}
/*sets up the header with appropriate links to the right */
.titleBar {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:var(--darkTeal);
  color: #ffffff;
}

.titleBar h1 {
  display: inline-block;
  font-size: 48px;
}

.titleBar div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.titleBar div ul {
  list-style-type: none;
}

.titleBar div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/Headshot_TPR.PNG");
  background-size: cover;
  background-position: center;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    
    /* margin-left: -1.5rem; not sure if we need this yet, copy and pasted*/
    /* margin-right: -1.5rem; not sure if we need this yet, copy and pasted*/
  }
/*used to anchor the title sections to the right 25% of the screen */
.section-title{
    width:25%;
    justify-content:flex-end;

}
/*used to anchor the sections content to the right 75% of the screen*/
.section-content{
   display:flex;
   flex-wrap:wrap;
   flex-direction: row;
    width:75%;
    border-left:5px solid var(--darkTeal) 
    /* justify-content:flex-end; */
}

.section-content p {
width:100%;
}
/*used to anchor the title sections to the right 25% of the screen */
.card-title{
        position: relative;
        /* margin-left: -20px; */
        Justify-content:flex-start;
        margin:20px;
    }

  /*sets up flexbox for 4 minor cards - could not keep it from wrapping 3 and 1 on larger screens */
 .card-column {
    flex: 1 0 50%;
     flex:25%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    /* transition: flex-basis 500ms linear; */
    border:5px solid royalblue;
    /* justify-content:space-evenly; */
    /* min-width:0; */
    margin:20px;
    
  }

/*keeps the main project card filling up the flex area and not wrapping with the 4 minor cards*/
.main-card{
  flex:0 0 100%;
  Height:300px;
  border:5px solid royalblue;
  margin:20px;
}

.main-card a{
  color:black;
  text-decoration: underline;
    
}
  /* repeating the header styling to remove teal background, but keep the <li> anchored to the right */
.endBar {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.endBar h1 {
  display: inline-block;
  font-size: 48px;
}

.endBar div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  justify-content: flex-end;
}

.endBar div ul {
  list-style-type: none;
  
}

.endBar div ul li {
  display: inline-block;
  
}

.endBar div ul li a {
  color: #070707;
  text-decoration: none;
}

  .endBar div ul li a:hover {
    color: #070707;
    text-decoration: underline;
  }

  /* intended to change the 4 minor cards to 1 column when media screen size is less than 600 px */
/* @media screen and (max-width:600px){
.card-column {
  display:block;
}
}*/
/*used to block the links in the top right of the header under the title on smaller screens*/
/*@media screen and (max-width:600px){
  .titleBar {
    display:block;
  }
} */